version: '3.8'

services:
  backend-1:
    container_name: backend-1
    build:
      context: .
      dockerfile: build/backend.Dockerfile
    network_mode: host
    environment:
      - SERVER_PORT=8081

  backend-2:
    container_name: backend-2
    build:
      context: .
      dockerfile: build/backend.Dockerfile
    network_mode: host
    environment:
      - SERVER_PORT=8082

  backend-3:
    container_name: backend-3
    build:
      context: .
      dockerfile: build/backend.Dockerfile
    network_mode: host
    environment:
      - SERVER_PORT=8083

  load-balancer:
    container_name: load-balancer
    build:
      context: .
      dockerfile: build/load-balancer.Dockerfile
    network_mode: host
    environment:
      - BACKEND_URLS=http://localhost:8081,http://localhost:8082,http://localhost:8083
